.location-info-area {
  display: flex;
  align-items: center;
}

.profile-area {
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
}

.marker-icon {
  padding-left: 16px;
}

.postal-code {
  color: #3f3d56;
  padding-left: 5px;
  font-size: 15px;
}

.reports-info {
  font-size: 15px;
  color: #979797;
}
