<app-profile></app-profile>
<div class="profile_status_container">
	<app-profile-status fxFlex="49"></app-profile-status>
	<app-profile-status fxFlexOffset="2" fxFlex="49"></app-profile-status>
</div>
<h2>Alterar o meu estado</h2>
<div class="change-state-step1-container">
    <img class="step-counter" src="assets/img/illustrations/change-state/step-1-counter.svg" />
    <p class="step-description-text">Passo 1 - Estado de Saúde</p>
    <p class="step-question-text">Apresenta algum dos sintomas abaixo?</p>
</div>

