<div class="change-state-step1-container">
  <h2 class="page-title">Alterar o meu estado</h2>
  <img class="step-counter" src="assets/img/illustrations/change-state/step-1-counter.svg" />

  <div class="step-description">
    <p class="step-description-text">Passo 1 - Estado de Saúde</p>
    <p class="step-question-text">Apresenta algum dos sintomas abaixo?</p>
  </div>

  <div class="cards">
    <div class="card" *ngFor="let symptom of conditionState.symptoms">
      <app-checkbox-card [state]="symptom.name" (change)="checkSymptom(symptom.id, $event)"> </app-checkbox-card>
    </div>
  </div>

  <!-- Change to correct link -->
  <div class="confirm-container">
<!--     <app-state-confirm-btn
      [routerLink]="['/dashboard', { outlets: { dash: ['change-state-step2'] } }]"
      [btnText]="'Seguinte'"
    ></app-state-confirm-btn> -->
    <app-state-confirm-btn
      (click)="onClick()"
      [btnText]="'Seguinte'"
    ></app-state-confirm-btn>
  </div>
</div>
