.change-state-step1-container {
    text-align: center;
}

.step-description-text {

    color: #798794;
    font-size: 28px;
    font-weight: 400;

}

.step-question-text {
    color:  #000000;
    font-size: 28px;
    font-weight: 800;
}

.step-counter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25em;
}