:host .status_btn {
  display: block;
  box-sizing: border-box;
  width: 100%;
  background-color: #fa6400;
  color: #fff;
  font-weight: bold;
  font-size: 0.85rem;
  line-height: 0.875rem;
  padding: 1.125rem 2.5rem;
  border-radius: 2.5rem;
  border: none;
  outline: none;
  margin: 0.75rem 0;
  cursor: pointer;
}
