:host .status_btn {
  background-color: #fa6400;
  border-radius: 10px;
  width: 100%;
  margin: 13px 0;
  border: none;
  outline: none;
  padding: 18px 0;
  font-weight: bold;
  color: #fff;
  font-size: 13px;
  line-height: 14px;
}
