:host .status_btn {
    background-color: #FA6400;
    border-radius: 10px;
    -webkit-box-shadow: 7px 7px 12px -2px rgba(0,0,0,0.35);
    -moz-box-shadow: 7px 7px 12px -2px rgba(0,0,0,0.35);
    box-shadow: 7px 7px 12px -2px rgba(0,0,0,0.35);
    margin-top: auto;
    display: flex;
    margin-bottom: 15px;
    justify-content: center;
    align-items: center;
    max-height: 55px;
    p {
    color: #ffffff;
    font-weight: 400;
    }
}

//	width: 100%;
//	margin: 13px 0;
//	border: none;
//	outline: none;
//	padding: 18px 0;
//	font-weight: bold;
//	color: #FFF;
//	font-size: 13px;
//	line-height: 14px;
//}

