<app-basic-modal
  *ngIf="showModal"
  [closable]="false"
  [opened]="showModal"
  [closeCallback]="closeCallback"
  [minHeight]="true"
>
  <div class="confirm-container">
    <div class="confirm-action-container" *ngIf="!showResultContainer">
      <div class="image red"><img src="assets/img/icons/delete_red.svg" alt="delete red" /></div>
      <span class="title">Tem a certeza que pretende eliminar a sua conta?</span>
      <span>Esta ação irá apagar todos os seus dados Covidografia e é irreversível.</span>

      <button class="close-button" (click)="close()">
        <span class="text">Cancelar</span>
      </button>

      <button class="delete-button" (click)="deleteUser()">
        <span class="text">Apagar</span>
      </button>
    </div>
    <div class="confirm-result-container" *ngIf="showResultContainer">
      <div class="delete-success-container" *ngIf="userDeletedWithSuccess">
        <div class="image green">
          <img src="assets/img/icons/delete_green.svg" alt="delete green" />
        </div>
        <span class="title green">A sua conta foi eliminada.</span>
        <span>Para voltar a ver o estado da sua área, crie nova conta.</span>

        <button class="ok-button" (click)="closeAfterDelete()">
          <span class="text">Ok</span>
        </button>
      </div>
      <div class="delete-failure-container" *ngIf="!userDeletedWithSuccess">
        <div class="image red"><img src="assets/img/icons/delete_red.svg" alt="delete red" /></div>
        <span class="title">Não foi possível eliminar a sua conta.</span>
        <span
          >Tente eliminar novamente. Se o problema persistir, entre em contacto connosco através de
          <a class="email" href="mailto:info@covidografia.pt">info@covidografia.pt</a>
        </span>

        <button class="close-button" (click)="close()">
          <span class="text">Cancelar</span>
        </button>

        <button class="delete-button" (click)="deleteUser()">
          <span class="text">Tentar novamente</span>
        </button>
      </div>
    </div>
  </div>
</app-basic-modal>
