<div class="change-state-step2-container">
  <h2 class="page-title">Alterar o meu estado</h2>
  <app-steps [steps]="steps"></app-steps>
  <div class="step-description">
    <p class="step-description-text">Passo 2 - Infeção</p>
    <p class="step-question-text">Qual o seu estado de infeção atual?</p>
  </div>

  <div class="cards">
    <div class="card">
      <app-radio-card [state]="'Infeção confirmada'" [input_name]="'estado'"> </app-radio-card>
    </div>
    <div class="card">
      <app-radio-card [state]="'Caso suspeito'" [input_name]="'estado'"> </app-radio-card>
    </div>
    <div class="card">
      <app-radio-card [state]="'Recuperado'" [input_name]="'estado'"> </app-radio-card>
    </div>
    <div class="card">
      <app-radio-card [state]="'Presumidamente saudável'" [input_name]="'estado'"> </app-radio-card>
    </div>
  </div>
  <!-- Change to correct link -->
  <div class="confirm-container">
    <app-state-confirm-btn
      [routerLink]="['/dashboard', { outlets: { dash: ['change-state-step3'] } }]"
      [btnText]="'Seguinte'"
    ></app-state-confirm-btn>
  </div>
</div>
