.confirm_btn_container {
  display: flex;
  justify-content: flex-end;

  .state_confirm_btn {
    background-color: #fa6400;
    padding: 20px;
    border-radius: 10px;
    margin: 13px 0;
    border: none;
    outline: none;
    font-weight: bold;
    color: #fff;
    font-size: 13px;
    line-height: 14px;
    width: 100%;
  }
}
