$modal-radius: 1em;
:host {
  /* Parent must have position relative :( */
  /* TODO Replace display property change for animation */
  .modal-wrapper {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    max-width: 100%;

    opacity: 0;
    transition: opacity 0.5s ease;

    &.open {
      display: flex;
      background: rgba(0, 0, 0, 0.7);
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1000;

      &:not(.closing) {
        opacity: 1;
      }
    }
  }

  .modal {
    border-radius: $modal-radius;
    background: white;
    margin: auto;
    max-width: 800px;
    max-height: 80%;

    .modal-header {
      position: relative;

      .close-button {
        position: absolute;
        bottom: 100%;
        left: 100%;
        cursor: pointer;
        border-radius: 50%;

        svg {
          width: 24px;
          height: 24px;
          color: #363636;
        }
      }
    }

    @media (max-width: 960px) {
      max-width: calc(100% - 12.5rem);
    }

    @media (max-width: 640px) {
      max-width: unset;
      width: 100%;
      position: fixed;
      bottom: 0;
      left: 0;
      border-radius: 1rem 1rem 0 0;

      .modal-header .close-button {
        bottom: calc(100% + 16px);
        left: calc(100% - 40px);
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
}

.share-container {
  padding: 32px;
  text-align: center;

  .title {
    margin-bottom: 8px;

    span {
      color: #798794;
      font-size: 16px;
      line-height: 120%;
    }
  }

  .sub-title span {
    color: #fa6400;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
  }

  .footer-text {
    color: #1e2933;
    font-weight: bold;
    font-size: 15px;
    line-height: 120%;
    text-align: center;
    padding: 0 0 20px;
  }

  .footer-share {
    display: inline-flex;
    align-items: center;
    text-align: center;
    margin: 0 auto;

    .icon-share {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(66, 103, 178, 0.12),
        0px 10px 20px rgba(66, 103, 178, 0.18);
      cursor: pointer;

      &:not(:last-of-type) {
        margin-right: 1.875rem;
      }

      img {
        display: block;
        width: 1.25rem;
        height: 1.25rem;
      }

      &#facebook {
        background-color: #4267b2;
      }

      &#twitter {
        background-color: #2aa3ef;
      }

      &#linkedin {
        background-color: #1178b3;
      }
    }
  }

  .share-video-container {
    max-width: 100%;
    margin: 20px auto;

    iframe {
      width: 45vh;
      height: 45vh;
    }
  }

  @media (max-width: 640px) {
    .sub-title span {
      color: rgba(47, 47, 47, 0.9);
    }

    .share-video-container {
      max-height: 35vh;

      iframe {
        min-height: unset;
        height: 35vh;
      }
    }
  }

  @media (max-width: 440px) {
    .share-video-container iframe {
      min-height: 20vh;
    }
  }
}
