<div class="dashboard_container">
  <div class="sidebar_container">
    <div class="logo_container">
      <img class="profile_dgs_logo" src="assets/img/logo/covidografia.svg" />
      <img
        *ngIf="!isChangingStep()"
        class="share_icon"
        src="assets/img/share.svg"
        (click)="toggleShare()"
      />
    </div>

    <app-profile
      [ngClass]="{ hideMobileOnly: isChangingStep() === true }"
      [user]="user"
    ></app-profile>

    <div *ngIf="!isChangingStep()" class="profile_status_container">
      <app-profile-status [user]="user" [state]="confinementState"></app-profile-status>
    </div>

    <div class="bottom">
      <app-status-btn
        *ngIf="!isChangingStep()"
        [routerLink]="['/dashboard', 'change-state-step1']"
      ></app-status-btn>

      <div [ngClass]="{ hideMobileOnly: isChangingStep() === true }" class="email-container">
        <img src="assets/img/icons/email.svg" />
        <a class="email" href="mailto:info@covidografia.pt">info@covidografia.pt</a>
      </div>

      <a class="link logout_link_desktop" *ngIf="!isChangingStep()" [routerLink]="['/logout']"
        >Log out</a
      >
    </div>
  </div>

  <div class="main-page-container" *ngIf="user">
    <router-outlet></router-outlet>
  </div>

  <a class="link logout_link" *ngIf="!isChangingStep()" [routerLink]="['/logout']">Log out</a>
</div>

<app-share-status [showShare]="showShare" (closed)="toggleShare()"> </app-share-status>
