<div class="dashboard_container">
  <div class="sidebar_container">
    <div class="logo_container">
      <img class="profile_dgs_logo" src="assets/img/logo/covidografia.svg" />
      <img
        *ngIf="!isChangingStep()"
        class="share_icon"
        src="assets/img/share.svg"
        (click)="showShareModal()"
      />
    </div>

    <app-profile
      [ngClass]="{ hideMobileOnly: isChangingStep() === true }"
      [user]="user"
    ></app-profile>

    <div *ngIf="!isChangingStep()" class="profile_status_container">
      <app-profile-status [user]="user" [state]="confinementState"></app-profile-status>
    </div>

    <div class="bottom">
      <app-status-btn
        *ngIf="!isChangingStep()"
        [routerLink]="['/dashboard', 'change-state-step1']"
      ></app-status-btn>

      <div
        [ngClass]="{ hideMobileOnly: isChangingStep() === true }"
        class="email-container display_desktop"
      >
        <img src="assets/img/icons/email.svg" />
        <a class="email" href="mailto:info@covidografia.pt">info@covidografia.pt</a>
      </div>

      <div class="policy-terms display_desktop" *ngIf="!isChangingStep()">
        <div class="text-center">
          <a
            class="text-terms text-grey text-center"
            target="_blank"
            [routerLink]="['/terms-conditions']"
            >Termos e Condições</a
          >
          <span class="text-grey text-center"> | </span>
          <a
            class="text-terms text-grey text-center"
            target="_blank"
            [routerLink]="['/privacy-policy']"
            >Política de Privacidade</a
          >
        </div>

        <div class="text-terms text-grey text-center" (click)="showConfirmDeleteUser()">
          <span>Eliminar Conta</span>
        </div>
      </div>
      <a class="link display_desktop" *ngIf="!isChangingStep()" [routerLink]="['/logout']"
        >Log out</a
      >
    </div>
  </div>

  <div class="main-page-container" *ngIf="user">
    <router-outlet></router-outlet>
  </div>

  <div
    [ngClass]="{ hideMobileOnly: isChangingStep() === true }"
    class="email-container display_mobile"
  >
    <img src="assets/img/icons/email.svg" />
    <a class="email" href="mailto:info@covidografia.pt">info@covidografia.pt</a>
  </div>

  <div class="policy-terms display_mobile" *ngIf="!isChangingStep()">
    <div class="text-center">
      <a
        class="text-terms text-grey text-center"
        target="_blank"
        [routerLink]="['/terms-conditions']"
        >Termos e Condições</a
      >
      <span class="text-grey text-center"> | </span>
      <a class="text-terms text-grey text-center" target="_blank" [routerLink]="['/privacy-policy']"
        >Política de Privacidade</a
      >
    </div>

    <div class="text-terms text-grey text-center" (click)="showConfirmDeleteUser()">
      <span>Eliminar Conta</span>
    </div>
  </div>

  <a class="link logout_link display_mobile" *ngIf="!isChangingStep()" [routerLink]="['/logout']"
    >Log out</a
  >
</div>

<app-share-status
  *ngIf="video"
  [showShare]="showShare"
  [toggleShare]="toggleShareCallback"
  [video]="video"
>
</app-share-status>

<app-notifications-modal
  [showModal]="showNotificationModal"
  [toggleModal]="toggleNotificationModalCallback"
  [acceptNotifications]="subscribeToNotificationsCallback"
>
</app-notifications-modal>

<app-confirm-delete-user-modal
  [showModal]="showConfirmDeleteUserModal"
  [toggleModal]="toggleConfirmDeleteUserModalCallback"
  [user]="user"
>
</app-confirm-delete-user-modal>
