:host {
  min-height: 100%;
  height: 100vh;
}

.dashboard_container {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  .sidebar_container {
    display: flex;
    flex-direction: column;

    .logo_container {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 18px 21px;

      .profile_dgs_logo {
        height: 32px;
        flex: 1;
      }
    }

    .profile_status_container {
      display: flex;

      & app-profile-status {
        display: flex;
        width: 100%;
        flex: 1 1 100%;
      }
    }

    .bottom {
      display: flex;
      flex-direction: column;
      padding: 0 12px;
    }

    .email-container {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 0 12px;

      .email {
        padding-left: 8px;
        font-size: 13px;
        color: #798794;
        text-decoration: none;
      }
    }

    .hideMobileOnly {
      display: none;
    }
  }
}

/*
  ##Device = Desktops / Ipads
  ##Screen = 750px to higher resolution desktops
*/
@media (min-width: 768px) {
  .dashboard_container {
    display: flex;
    flex-direction: row;

    .sidebar_container {
      padding: 20px 46px;
      background-color: #f9f9f9;
      width: 360px;
      min-width: 360px;

      .logo_container {
        padding: 18px 21px;

        .profile_dgs_logo {
          height: 40px;
        }
      }

      .profile_status_container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        & app-profile-status {
          flex-direction: column;
        }
      }

      .hideMobileOnly {
        display: flex;
      }
    }
  }
}
.dashboard_container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-page-container {
  padding: 0 16px;

  & .location-status {
    display: block;
    margin-top: 20px;
  }
}

.sidebar_container {
  display: flex;
  flex-direction: column;
}

.logo_container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 21px 0;

  .profile_dgs_logo {
    height: 32px;
    flex: 1;
  }
}

.location-info-area {
  display: flex;
  align-items: center;
}

.profile-area {
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
}

.marker-icon {
  padding-left: 16px;
}

.postal-code {
  color: #3f3d56;
  padding-left: 5px;
  font-size: 15px;
}

.reports-info {
  font-size: 15px;
  color: #979797;
}
app-card {
  margin-left: 10px;
}

.logout_link {
  margin-bottom: 20px;
}

.logout_link_desktop {
  display: none;
}

/*
  ##Device = Desktops / Ipads
  ##Screen = 750px to higher resolution desktops
*/
@media (min-width: 768px) {
  .dashboard_container {
    display: flex;
    flex-direction: row;

    .sidebar_container {
      padding: 20px 46px;
      background-color: #f9f9f9;
      width: 360px;
      min-width: 360px;

      .bottom {
        display: flex;
        flex-direction: column;
        margin-top: auto;
        padding: 0;

        .logout_link_desktop {
          display: block;
        }
      }
    }
  }

  .profile_status_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & app-profile-status {
      flex-direction: column;
    }
  }

  .logo_container {
    padding: 18px 21px;
  }

  .main-page-container {
    width: 100%;
    padding: 46px 46px 26px;
  }

  .logout_link {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .dashboard_container {
    .sidebar_container {
      width: 230px;
      min-width: 230px;
    }
  }
}
