:host {
  min-height: 100%;
  height: 100vh;
}

.dashboard_container {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  .sidebar_container {
    display: flex;
    flex-direction: column;
    width: 100%;

    .logo_container {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 18px 21px;

      .profile_dgs_logo {
        height: 32px;
        flex: 1;
      }

      .share_icon {
        cursor: pointer;
      }
    }

    .profile_status_container {
      display: flex;

      & app-profile-status {
        display: flex;
        width: 100%;
      }
    }

    .bottom {
      display: flex;
      flex-direction: column;
      padding: 0 12px;
    }
  }

  .main-page-container {
    width: auto;
  }

  .email-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0 12px;

    .email {
      padding-left: 8px;
      font-size: 13px;
      color: #798794;
      text-decoration: none;
    }
  }

  .policy-terms {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    font-size: 12px;

    a {
      text-decoration: none;
    }

    div {
      cursor: pointer;
    }
  }

  .hideMobileOnly {
    display: none;
  }

  .display_desktop {
    display: none;
  }
}
.share-status {
  display: block;
  box-sizing: border-box;
  font-weight: bold;
  border-radius: 2.5rem;
  outline: none;
  cursor: pointer;
  padding: 1.125rem;
  margin: 0 12px;
  border: 1px solid #fa6400;
  font-size: 13px;
  line-height: 14px;
  text-align: center;
  color: #fa6400;
  background-color: white;
}

.share-status.display_desktop {
  margin: 0;
  width: 100%;
  justify-content: center;
}

/*
  ##Device = Desktops / Ipads
  ##Screen = 750px to higher resolution desktops
*/
@media (min-width: 768px) {
  .dashboard_container {
    display: flex;
    flex-direction: row;

    .sidebar_container {
      padding: 20px 46px;
      background-color: #f9f9f9;

      .logo_container {
        padding: 18px 21px;
        width: 100%;
        align-self: center;

        .profile_dgs_logo {
          height: 40px;
        }
      }

      .profile_status_container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        & app-profile-status {
          flex-direction: column;
        }
      }
    }
  }
}
.dashboard_container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-page-container {
  padding: 0 16px;

  & .location-status {
    display: block;
    margin-top: 20px;
  }
}

.sidebar_container {
  display: flex;
  flex-direction: column;
}

.logo_container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 21px 0;

  .profile_dgs_logo {
    height: 32px;
    flex: 1;
  }
}

.location-info-area {
  display: flex;
  align-items: center;
}

.profile-area {
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
}

.marker-icon {
  padding-left: 16px;
}

.postal-code {
  color: #3f3d56;
  padding-left: 5px;
  font-size: 15px;
}

.reports-info {
  font-size: 15px;
  color: #979797;
}
app-card {
  margin-left: 10px;
}

.logout_link {
  margin-bottom: 20px;
}

/*
  ##Device = Desktops / Ipads
  ##Screen = 750px to higher resolution desktops
*/
@media (min-width: 768px) {
  .dashboard_container {
    display: flex;
    flex-direction: row;

    .sidebar_container {
      padding: 20px 46px;
      background-color: #f9f9f9;
      max-width: 350px;
      width: 35%;
      box-sizing: border-box;

      .bottom {
        display: flex;
        flex-direction: column;
        padding: 0;
        height: 100%;
        justify-content: space-between;

        .links {
          display: flex;
          flex-direction: column;
        }
      }
    }

    .hideMobileOnly {
      display: flex;
    }

    .display_desktop {
      display: flex;
    }

    .display_mobile {
      display: none;
    }
  }

  .profile_status_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & app-profile-status {
      flex-direction: column;
    }
  }

  .logo_container {
    padding: 18px 21px;
  }

  .dashboard_container {
    .main-page-container {
      width: 100%;
      padding: 46px 46px 26px 46px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .dashboard_container {
    .main-page-container {
      width: 100%;
      padding: 46px 46px 26px;
    }
  }
}
