.card {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 26px 32px 26px 32px;
    background-color: #ffffff;
    border-radius: 30px;
    -webkit-box-shadow: -7px 7px 12px -2px rgba(0,0,0,0.35);
    -moz-box-shadow: -7px 7px 12px -2px rgba(0,0,0,0.35);
    box-shadow: -7px 7px 12px -2px rgba(0,0,0,0.35);
    margin-bottom: 28px;

    .card-body {
        // flex-grow: 1;
        // height: 100%;
        // .counter{
        //     display: flex;
        //     flex-direction: row;
        //     flex-wrap: wrap;
        //     width: 30px;
        // }
    }
    img {
        max-width: 32px;
        max-height: 26px;
        display: flex;
        align-self: flex-start;
    }
    span {
        color: #1e2933;
        font-size: 26px;
        font-weight: 400;
        line-height: .7;
    }
    hr {
        margin: 0px;
        border: 1px solid #979797;
    }
    p {
        font-family: Archivo;
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        color: #000000;
        line-height: 1;
        
    }
    .status{
        font-family: Archivo;
        font-style: normal;
        font-weight: 600;
        font-size: 42px;
        color: #000000;
    }
}