<div class="header_menu">
<div>
    <div class="item">
        <img src="assets/img/illustrations/dashboard/dashboard.svg"  routerLink="">
        <p>Dashboard</p>
    </div>
   
    <div class="item">
        <img src="assets/img/illustrations/dashboard/questionario.svg"  routerLink="">
        <p>Questionário</p>
    </div>
    <div class="item">
        <img src="assets/img/illustrations/dashboard/contactos.svg"  routerLink="">
        <p>Contactos</p>
    </div>
    <div class="item">
        <img src="assets/img/illustrations/dashboard/mapa.svg"  routerLink="">
        <p>Mapa</p>
    </div>
</div>

</div>
<div class="share">
    <div class="item">
        <img src="assets/img/illustrations/dashboard/share.svg"  routerLink="">
        <p>Partilhar</p>
    </div>
</div>