.privacy-terms {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 30px;
  max-width: 450px;

  .logo {
    width: 230px;
    height: 60px;
    margin-bottom: 20px;
  }

  .title {
    font-weight: bold;
    font-size: 24px;
    margin: 16px;
    text-align: center;
  }

  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 20px;

    app-link-card {
      width: 100%;
      max-width: 300px;
    }
  }

  .accept {
    display: flex;
    margin: 20px;
    font-size: 13px;
    align-items: center;

    .checkbox-btn {
      margin-right: 1rem;

      input {
        display: none;

        + .check {
          display: block;
          width: 1.5rem;
          height: 1.5rem;
          border-radius: 0.25rem;
          border: 0.125rem solid #d8d8d8;
          cursor: pointer;
          transition: 0.3s ease all;

          &::after {
            content: '';
            opacity: 0;
            display: block;
            width: 0;
            height: 0.5rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -0.5rem) rotate(-45deg);
            border-bottom: 0.125rem solid #fff;
            border-left: 0.125rem solid #fff;
            border-bottom-left-radius: 0.125rem;
            transition: 0.2s ease width, 0.2s ease height;
          }
        }

        &:checked + .check {
          display: block;
          position: relative;
          background-color: #fa6400;
          border-color: #fa6400;

          &::after {
            opacity: 1;
            width: 1rem;
          }
        }
      }
    }
  }

  .aceitar {
    display: block;
    box-sizing: border-box;
    width: 20rem;
    background-color: #fa6400;
    color: #fff;
    font-weight: bold;
    font-size: 0.85rem;
    line-height: 0.875rem;
    padding: 1.125rem 2.5rem;
    border-radius: 2.5rem;
    border: none;
    outline: none;
    margin: 0.75rem 0;
    cursor: pointer;
  }

  .aceitar:disabled {
    background-color: #d8d8d8;
    cursor: default;
  }

  .accept-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.terms-modal-overlay {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;

  .terms-modal {
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    width: 90%;
    max-width: 1024px;
    //max-height: 600px;
    display: flex;
    flex-direction: column;

    .terms-header {
      min-height: 50px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 0 1rem;
      border-bottom: 1px solid #e0e0e0;

      .fa {
        font-size: 1.5rem;
        cursor: pointer;
      }
    }

    .terms-content {
      flex-grow: 1;
      padding: 1rem;

      .scroll {
        flex-grow: 1;
        height: 100%;
        max-height: 550px;
        overflow: auto;
      }
    }
  }
}

@media (max-width: 768px) {
  .privacy-terms {
    padding: 0 15px;

    .logo {
      width: 150px;
      height: 40px;
    }

    .title {
      font-size: 17px;
    }

    .accept + .last {
      margin-bottom: 110px;
    }

    .accept-container {
      position: fixed;
      bottom: 0;
      left: 0;
      display: flex;
      justify-content: center;
      background-color: #fff;
      box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04),
        0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2.62953px 6.38599px rgba(0, 0, 0, 0.27),
        0px 21px 51px rgba(0, 0, 0, 0.54);
    }
  }

  .terms-modal-overlay {
    .terms-modal {
      width: 100%;
      height: 100vh;
      border-radius: 0;
      box-shadow: none;
    }
    .terms-content {
      .scroll {
        max-height: calc(100vh - calc(50px + 2rem)) !important;
      }
    }
  }
}
