.frame-container {
    width: 80vw;
    height: 100%;
    background-color: #ffffff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 2px dashed green;


}

.content-container {
    display: flex;
    flex-direction: column;
    border: 2px dashed blue;
}