:host {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100%;

    .wrapper {
        background-image: url(../../../assets/img/illustrations/login/logo.svg) no-repeat;
        background-size: contain;
        height: 100%
    }
    .header {
        margin-top: 15px;

        img{
            width: 170px;
            height: auto;
        }
    }


    .login_btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-self: end;
        flex-grow: 2;
        margin-top: auto;
        background-color: #4267b2;
        border-radius: 10px;
        -webkit-box-shadow: 7px 7px 12px -2px rgba(0,0,0,0.35);
        -moz-box-shadow: 7px 7px 12px -2px rgba(0,0,0,0.35);
        box-shadow: 7px 7px 12px -2px rgba(0,0,0,0.35);
        margin-top: auto;
        display: flex;
        margin-bottom: 15px;
        justify-content: center;
        align-items: center;
        max-height: 55px;
        width: 99%;
        bottom: 40px;
        left: 10px;
        p {
        color: #ffffff;
        font-size: 20px;
        font-weight: 400;
        margin-right: 45px;
        }
        img{
            max-width: 30px;
            max-height: 30px;
        }
        .fb {
            margin-right: 20px;
            margin-left: 45px;
        }
        .login_text{

        }
    }
    .h-100 {
        height: 100%;
    }
}
