:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100%;

  .wrapper {
    max-width: 100%;
    position: relative;
  }

  .header {
    height: 70%;

    .logo {
      width: 100%;
      height: 100%;
      position: relative;

      .logo-background {
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    .icon {
      position: absolute;
      top: 30%;
      z-index: 1;
      left: calc(12%);
      width: 75%;
      height: 69px;
    }
  }

  .action {
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

    .action-content {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0 30px;

      .login-btn {
        max-height: 55px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #4267b2;
        padding: 1rem;
        border-radius: 0.25rem;
        margin-bottom: 1rem;

        img {
          max-width: 30px;
          max-height: 30px;
        }

        .fb {
          margin-right: 20px;
        }

        .login-text {
          font-size: 13px;
          flex: 1;
          text-align: center;

          color: #ffffff;
          font-weight: bold;
        }
      }

      .policy-terms {
        display: flex;
        flex-direction: column;

        font-size: 12px;

        a {
          margin-bottom: 15px;
          text-decoration: none;
        }
      }
    }
  }

  .h-100 {
    height: 100%;
  }
}
