<div class="h-100" fxLayout="row" fxLayoutAlign="center">
  <div class="h-100" fxFlex="100">
    <div class="h-100 wrapper" fxLayout="column">
      <div class="header">
        <div class="logo">
          <img class="logo-background" src="assets/img/illustrations/login/background.svg" />
          <img
            class="logo-background-mobile"
            src="assets/img/illustrations/login/background-mobile.svg"
          />
        </div>
      </div>

      <div class="action" fxLayout="row">
        <div class="action-content">
          <div
            class="login-btn button-elevation cursor-pointer"
            [ngClass]="{ disabled: !acceptedTerms }"
            (click)="onFacebookLogin()"
          >
            <div class="fb" fxLayout="row" fxLayoutAlign="center">
              <img *ngIf="acceptedTerms" src="assets/img/facebook.svg" />
              <img *ngIf="!acceptedTerms" src="assets/img/facebook-disabled.svg" />
            </div>
            <div class="login-text">
              <p>Entrar com o Facebook</p>
            </div>
          </div>

          <div class="policy-terms">
            <a
              class="text-terms text-grey text-center"
              target="_blank"
              [routerLink]="['/terms-conditions']"
              >Termos e condições</a
            >

            <a
              class="text-terms text-grey text-center"
              target="_blank"
              [routerLink]="['/privacy-policy']"
              >Política de Privacidade</a
            >
          </div>

          <div class="accept" *ngIf="!gdpr">
            <div class="checkbox-btn">
              <label>
                <input class="quiz-checkbox" type="checkbox" [(ngModel)]="acceptedTerms" />
                <span class="check"></span>
              </label>
            </div>
            <span
              >Li, compreendi e aceito os termos e condições de utilização da aplicação
              Covidografia.</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
