<div class="h-100" fxLayout="row" fxLayoutAlign="center">
  <div class="h-100" fxFlex="100">
    <div class="h-100 wrapper" fxLayout="column">
      <div class="header">
        <div class="logo">
          <img class="logo-background" src="assets/img/illustrations/login/background.svg" />
        </div>
      </div>

      <div class="action" fxLayout="row">
        <div class="action-content">
          <div class="login-btn button-elevation cursor-pointer" (click)="onFacebookLogin()">
            <div class="fb" fxLayout="row" fxLayoutAlign="center">
              <img src="assets/img/facebook.svg" />
            </div>
            <div class="login-text">
              <p>Entrar com o Facebook</p>
            </div>
          </div>

          <div class="policy-terms">
            <a class="text-grey text-center" target="_blank" [routerLink]="['/terms-conditions']"
              >Termos e condições</a
            >

            <a class="text-grey text-center" target="_blank" [routerLink]="['/privacy-policy']"
              >Política de Privacidade</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
