:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100%;

  .wrapper {
    max-width: 100%;
    position: relative;
  }

  .header {
    min-height: 50%;

    .logo-background {
      position: absolute;
      top: 0;
      left: 50;
      display: block;
      right: 0;
      width: 80%;
      margin-left: 15.75%;
    }

    .logo-tracovid {
      position: absolute;
      width: 20rem;
      top: 32.5%;
      left: 50%;
      transform: translate(-50%);
      display: block;
      margin: 0 auto;
    }
  }

  .action {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    > div {
      flex-basis: 26.5rem;
    }
    
    .login-btn {
      max-height: 55px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-color: #4267b2;
      padding: 1rem;
      border-radius: 0.25rem;
      -webkit-box-shadow: 7px 7px 12px -2px rgba(0,0,0,0.35);
      -moz-box-shadow: 7px 7px 12px -2px rgba(0,0,0,0.35);
      box-shadow: 7px 7px 12px -2px rgba(0,0,0,0.35);
      margin-bottom: 1rem;

      p {
        color: #ffffff;
        font-size: 1.25rem;
        font-weight: 400;
        margin-right: 2.625rem;
      }

      img {
        max-width: 30px;
        max-height: 30px;
      }

      .fb {
        margin-right: 20px;
        margin-left: 45px;
      }
    }

    .terms-and-conditions {
      font-size: 1rem;
    }
  }

  .h-100 {
    height: 100%;
  }
}
