:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100%;

  .wrapper {
    max-width: 100%;
    position: relative;
  }

  .header {
    height: 60%;

    .logo {
      .logo-background,
      .logo-background-mobile {
        height: 100%;
        width: 100%;
      }

      .logo-background-mobile {
        display: block;
      }

      .logo-background {
        display: none;
      }
    }

    @media (min-width: 580px) {
      .logo {
        height: 100%;

        .logo-background-mobile {
          display: none;
        }

        .logo-background {
          display: block;
        }
      }
    }

    .icon {
      position: absolute;
      top: 30%;
      z-index: 1;
      left: calc(12%);
      width: 75%;
      height: 69px;
    }
  }

  .action {
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

    .action-content {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      margin-bottom: 20px;

      .accept {
        display: flex;
        margin: 10px 20px;
        font-size: 11px;
        align-items: center;

        .checkbox-btn {
          margin-right: 1rem;

          input {
            display: none;

            + .check {
              display: block;
              width: 1.5rem;
              height: 1.5rem;
              border-radius: 0.25rem;
              border: 0.125rem solid #d8d8d8;
              cursor: pointer;
              transition: 0.3s ease all;

              &::after {
                content: '';
                opacity: 0;
                display: block;
                width: 0;
                height: 0.5rem;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -0.5rem) rotate(-45deg);
                border-bottom: 0.125rem solid #fff;
                border-left: 0.125rem solid #fff;
                border-bottom-left-radius: 0.125rem;
                transition: 0.2s ease width, 0.2s ease height;
              }
            }

            &:checked + .check {
              display: block;
              position: relative;
              background-color: #fa6400;
              border-color: #fa6400;

              &::after {
                opacity: 1;
                width: 1rem;
              }
            }
          }
        }
      }

      .login-btn {
        display: flex;
        width: 293px;
        height: 51px;
        justify-content: center;
        align-items: center;
        background-color: #4267b2;
        border-radius: 4px;
        margin-bottom: 10px;
        color: #ffffff;
        box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);

        img {
          max-width: 20px;
          max-height: 20px;
          margin-right: 10px;
        }

        .login-text {
          font-weight: 600;
          font-size: 15px;
          line-height: 16px;
        }

        &.google {
          color: #000;
          background-color: #fff;
          border: 1px solid #e9e9ec;
        }
      }

      .login-btn.disabled {
        background-color: #d8d8d8;
        color: #ffffff;

        cursor: default;
      }

      .policy-terms {
        display: flex;
        flex-direction: column;

        font-size: 12px;

        a {
          text-decoration: none;
        }
      }
    }
  }
}
