.onboarding-container {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    padding-top: 5rem;
    // background-color: #ffffff;
    background-color: #ffffff;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
}