:host > * {
  box-sizing: border-box;
}

:host {
  background-color: rgba(153, 149, 149, 0.53);
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: flex-end;
}

.modal-content {
  display: none;
  background-color: #fefefe;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 50px 33px;
  width: 375px;
  border-radius: 0;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;

  &.open {
    display: block;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

input:focus,
button:focus {
  outline: none;
}

input {
  font-family: Archivo;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  text-align: center;
  color: #000000;

  width: 309px;
  height: 50px;
  line-height: 26px;

  border: 1px solid #dcd7d7;
  box-sizing: border-box;
  border-radius: 6px;

  &::-webkit-input-placeholder {
    color: #cfcfcf;
  }
  &::-moz-placeholder {
    color: #cfcfcf;
  }
  &:-ms-input-placeholder {
    color: #cfcfcf;
  }
  &:-moz-placeholder {
    color: #cfcfcf;
  }
}

span {
  margin-left: 5px;
}

.row {
  font-family: Archivo;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #1e2933;
}

.label {
  margin-bottom: 10px;
}

.field-container {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.inputError {
  border-color: #af0028;
}

.error-notice {
  font-size: 13px;
  color: #af0028;
}

.post-code {
  .frist-type-number {
    width: 155px;
  }

  .second-type-number {
    width: 98px;
  }

  img {
    margin: 0px 23px;
  }
}

.codigrafia-code {
  font-size: 15px;
  color: #8a939f;
}

.btns {
  .btn-back {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 186px;
    height: 50px;
    border: 1px solid #fa6400;
    border-radius: 25px;
    font-family: Archivo;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 14px;
    text-align: center;
    color: #fa6400;
    background-color: white;
    margin-right: 16px;

    @media all and (max-width: 746px) {
      display: none;
    }
  }

  .btn-go-foward {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 353px;
    height: 50px;
    background: #fa6400;
    border: none;
    border-radius: 25px;
    font-family: Archivo;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 14px;
    text-align: center;
    color: #ffffff;
  }
}

@media all and (min-width: 747px) {
  .modal-content {
    border-radius: 25px;
  }
}
