<div class="post-code">
  <div class="h-100" fxLayout="row" fxLayoutAlign="center">
    <div class="h-100" fxFlex="100">
      <div class="h-100 wrapper" fxLayout="column">
        <div class="header">
          <div class="logo">
            <img class="logo-background" src="assets/img/illustrations/login/background.svg" />
            <img
              class="logo-background-mobile"
              src="assets/img/illustrations/login/background-mobile.svg"
            />
          </div>
        </div>

        <div class="action" fxLayout="row">
          <div class="action-content">
            <div class="login-btn">
              <div class="fb" fxLayout="row" fxLayoutAlign="center">
                <img src="assets/img/facebook.svg" />
              </div>
              <div class="login-text">
                <p>Entrar com o Facebook</p>
              </div>
            </div>

            <div class="policy-terms">
              <a class="text-terms text-grey text-center">Termos e condições</a>

              <a class="text-terms text-grey text-center">Política de Privacidade</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <form
    class="modal-content"
    [class.open]="opened"
    [class.closing]="closing"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    novalidate
  >
    <section class="row label" fxLayout="row">
      <img class="image" alt="marker" src="assets/img/icons/contact.svg" />
      <span>Insira o seu ano de nascimento</span>
    </section>
    <section class="row field-container post-code" fxLayout="row">
      <input
        formControlName="birth-year"
        type="number"
        onKeyPress="if(this.value.length==4) return false;"
        placeholder="- - - -"
        [class.inputError]="submitted && birthYearControl.errors"
      />
      <div *ngIf="submitted && birthYearControl.errors" class="error-notice">
        <span *ngIf="birthYearControl.errors.required">Campo obrigatório!</span>
        <span *ngIf="birthYearControl.errors.min || birthYearControl.errors.max"
          >Campo inválido!</span
        >
      </div>
    </section>

    <section class="row label" fxLayout="row">
      <img class="image" alt="marker" src="assets/img/icons/marker.svg" />
      <span>Insira o seu código postal</span>
    </section>
    <section class="row field-container post-code" fxLayout="row">
      <div class="post-code-section">
        <input
          class="frist-type-number"
          formControlName="zip-code-1"
          type="number"
          pattern="[0-9]*"
          onKeyPress="if(this.value.length==4) return false;"
          placeholder="- - - -"
          [class.inputError]="submitted && zipCode1Control.errors"
        />
        <img class="image" src="assets/img/icons/post-code-divider.svg" alt="post-code-divider" />
        <input
          class="second-type-number"
          formControlName="zip-code-2"
          type="number"
          pattern="[0-9]*"
          onKeyPress="if(this.value.length==3) return false;"
          placeholder="- - -"
          [class.inputError]="submitted && zipCode2Control.errors"
        />
      </div>
      <div
        *ngIf="submitted && (zipCode1Control.errors || zipCode2Control.errors)"
        class="error-notice"
      >
        <span>Campo obrigatório!</span>
      </div>
    </section>

    <section class="row label codigrafia-code" fxLayout="row">
      <span>Tem um Código Covidografia?</span>
      <span>Use-o aqui</span>
    </section>
    <section class="row field-container post-code" fxLayout="row">
      <input
        formControlName="covidografia-code"
        type="text"
        pattern="[0-9A-Z]*"
        maxlength="10"
        placeholder="- - - - - - - -"
        onKeyUp="this.value = this.value.toUpperCase();"
        [class.inputError]="submitted && covidografiaCodeControl.errors"
      />
      <div *ngIf="submitted && covidografiaCodeControl.errors" class="error-notice">
        <span>Código inválido. Verifique o seu código!</span>
      </div>
    </section>

    <section class="row btns" fxLayout="row">
      <button class="btn-back" (click)="close()">Voltar</button>
      <button class="btn-go-foward" type="submit">Avançar</button>
    </section>
  </form>
</div>
