:host > * {
  box-sizing: border-box;
}

:host {
  background-color: rgba(153, 149, 149, 0.53);
  height: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: flex-end;
}

.post-code {
  position: relative;
  height: 100%;
}

.header {
  height: 70%;

  .logo {
    width: 100%;
    height: 100%;
    position: relative;

    .logo-background {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .icon {
    position: absolute;
    top: 30%;
    z-index: 1;
    left: calc(12%);
    width: 75%;
    height: 69px;
  }
}

.action {
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;

  .action-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 30px;

    .login-btn {
      max-height: 55px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-color: #4267b2;
      padding: 1rem;
      border-radius: 0.25rem;
      margin-bottom: 1rem;

      img {
        max-width: 30px;
        max-height: 30px;
      }

      .fb {
        margin-right: 20px;
      }

      .login-text {
        font-size: 13px;
        flex: 1;
        text-align: center;

        color: #ffffff;
        font-weight: bold;
      }
    }

    .policy-terms {
      display: flex;
      flex-direction: column;

      font-size: 12px;

      a {
        margin-bottom: 15px;
        text-decoration: none;
      }
    }
  }
}

.modal-content {
  display: none;
  width: 100%;
  box-sizing: border-box;
  padding: 40px 33px;
  border-radius: 0;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: #fefefe;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  &.open {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

input:focus,
button:focus {
  outline: none;
}

input {
  font-family: Archivo;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  text-align: center;
  color: #000000;

  height: 50px;
  line-height: 26px;

  border: 1px solid #dcd7d7;
  box-sizing: border-box;
  border-radius: 6px;

  &::-webkit-input-placeholder {
    color: #cfcfcf;
  }
  &::-moz-placeholder {
    color: #cfcfcf;
  }
  &:-ms-input-placeholder {
    color: #cfcfcf;
  }
  &:-moz-placeholder {
    color: #cfcfcf;
  }
}

span {
  margin-left: 5px;
}

.row {
  font-family: Archivo;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #1e2933;
}

.label {
  margin-bottom: 10px;
}

.field-container {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.inputError {
  border-color: #af0028;
}

.error-notice {
  font-size: 13px;
  color: #af0028;
}

.post-code {
  .post-code-section {
    display: flex;
    justify-content: space-around;
  }

  .frist-type-number {
    width: 50%;
  }

  .second-type-number {
    width: 40%;
  }

  .image {
    width: 10%;
    max-width: 9px;
    margin-left: auto;
    margin-right: auto;
  }
}

.codigrafia-code {
  font-size: 15px;
  color: #8a939f;
}

.btns {
  .btn-back {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 186px;
    height: 50px;
    border: 1px solid #fa6400;
    border-radius: 25px;
    font-family: Archivo;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 14px;
    text-align: center;
    color: #fa6400;
    background-color: white;
    margin-right: 16px;
  }

  .btn-go-foward {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 353px;
    height: 50px;
    background: #fa6400;
    border: none;
    border-radius: 25px;
    font-family: Archivo;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 14px;
    text-align: center;
    color: #ffffff;
  }
}

@media all and (min-width: 747px) {
  :host {
    align-items: center;
  }

  .modal-content {
    border-radius: 25px;
    width: 465px;
    padding: 40px 56px;

    &.open {
      position: absolute;
      bottom: 50%;
      left: 50%;
      width: 465px;
      transform: translate(-50%, 50%);
    }
  }

  input {
    height: 50px;
  }

  .post-code {
    .frist-type-number {
      width: 185px;
    }

    .second-type-number {
      width: 108px;
    }
  }

  .btns {
    display: flex;

    .btn-go-foward {
      width: 183px;
    }

    .btn-back {
      display: flex;
      width: 183px;
      padding-right: 13px;
    }
  }
}
