.sidebar{
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 100%;
    flex: 1;
    margin-top: auto;
    left: 360px;
    top: 0px;
   
    background: #F9F9F9;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(252, 250, 255, 0.08), 0px 16px 24px rgba(252, 250, 255, 0.1), 0px 24px 32px rgba(252, 250, 255, 0.14);
    border-radius: 16px 0px 0px 16px;
    p {
        font-family: Archivo;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 14px;
        text-align: center;
        color: #FA6400;
    }
    .logo {
        align-self: center;
        margin-top: 38px;
    }
    .profile {
 
        margin-top: 50px;
        display: flex;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        & .details{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin-top: 20px;
        }
        & .avatar {
            box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 24px 32px rgba(0, 0, 0, 0.04);
            border-radius: 88px;
            order: 0;
            align-self: center;
            margin: 16px 0px;
        }
        & img {
            align-self: start;
            object-fit: fill;
        
            
        }
        &.username{
            font-family: 'Archivo';
            font-style: normal;
            font-weight: 800;
            font-size: 12px;
            line-height: 2px;

            color: #514F64;
        }
        & p{
            line-height: 0px;
            color: #FA6400;
        }
    }
    .status {
        display: flex;
        flex-direction: column;
        padding: 0px;
        padding-left: 46px;  
        align-items: flex-start;
        & .status_inline {
            display: flex;
            
           & p {
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 1px;
            letter-spacing: 0.38px;
            color: #798794;
            padding-left: 10px;
            text-transform: capitalize;
           }
           
        & .status_active {
            order: 0;
            align-self: center;
            border-radius: 10px;
            background: #5BEE73;
            height: 10px;
            width: 10px;
        }
        }
      
    }
   app-status-btn {
   
        margin-top: auto;
        padding-left: 46px;
        padding-right: 46px;
    }
    ::ng-deep app-status-btn .status_btn {
        border-radius: 25px;
       
    }
    ::ng-deep app-status-btn .status_btn p {
        font-size: 13px;
     }
}