<div class="location-status">
  <app-card
    fxFlex="100"
    [counter]="1"
    [label]="'Infetados'"
    [icon]="'assets/heart.svg'"
  ></app-card>
  <app-card
    fxFlex="48"
    [counter]="1"
    [label]="'Infetados'"
    [color]="'orange'"
    [icon]="'assets/heart.svg'"
  ></app-card>
  <app-card
    fxFlex="48"
    [counter]="2"
    [label]="'Infetados'"
    [color]="'red'"
    [icon]="'assets/heart.svg'"
  ></app-card>
  <app-card
    fxFlex="48"
    [counter]="3"
    [label]="'Infetados'"
    [color]="'green'"
    [icon]="'assets/heart.svg'"
  ></app-card>
  <app-card
    fxFlex="48"
    [counter]="4"
    [label]="'Infetados'"
    [color]="'purple'"
    [icon]="'assets/heart.svg'"
  ></app-card>
</div>

<span>test</span>
