<div class="location-status">

  
    <app-card
    fxFlex="30"
    fxFlex.lt-md="100"
    fxFlex.xs="100"
    [counter]="1"
    [label]="'Sem sintomas'"
    [color]="'blue'"
    [icon]="'assets/img/illustrations/dashboard/heart.svg'"
  ></app-card>
    <app-card
      fxFlex="30"
      fxFlex.sm="47"
      fxFlex.xs="47"
      [counter]="1"
      [label]="'Com sintomas'"
      [color]="'orange'"
      [icon]="'assets/img/illustrations/dashboard/user-orange.svg'"
    ></app-card>
    <app-card
      fxFlex="30"
      fxFlex.sm="48"
      fxFlex.xs="48"
      [counter]="2"
      [label]="'Suspeitos'"
      [color]="'red'"
      [icon]="'assets/img/illustrations/dashboard/user-red.svg'"
    ></app-card>
 

    <app-card
      fxFlex="30"
      fxFlex.sm="100"
      fxFlex.xs="100"
      [counter]="3"
      [label]="'Recuperados'"
      [color]="'green'"
      [icon]="'assets/img/illustrations/dashboard/green.svg'"
    ></app-card>
    <app-card
      fxFlex="30"
      fxFlex.sm="100"
      fxFlex.xs="100"
      [counter]="4"
      [label]="'Infetados'"
      [color]="'purple'"
      [icon]="'assets/img/illustrations/dashboard/disease.svg'"
    ></app-card>

</div>
