<div class="location-status">

  
    <app-card
    fxFlex="33"
    fxFlex.sm="100"
    fxFlex.xs="100"
    [counter]="1"
    [label]="'Infetados'"
    [icon]="'assets/img/illustrations/dashboard/heart.svg'"
  ></app-card>
    <app-card
      fxFlex="33"
      fxFlex.sm="100"
      fxFlex.xs="100"
      [counter]="1"
      [label]="'Infetados'"
      [color]="'orange'"
      [icon]="'assets/img/illustrations/dashboard/user-orange.svg'"
    ></app-card>
    <app-card
      fxFlex="33"
      fxFlex.sm="100"
      fxFlex.xs="100"
      [counter]="2"
      [label]="'Infetados'"
      [color]="'red'"
      [icon]="'assets/img/illustrations/dashboard/user-red.svg'"
    ></app-card>
 

    <app-card
      fxFlex="33"
      fxFlex.sm="100"
      fxFlex.xs="100"
      [counter]="3"
      [label]="'Infetados'"
      [color]="'green'"
      [icon]="'assets/img/illustrations/dashboard/green.svg'"
    ></app-card>
    <app-card
      fxFlex="33"
      fxFlex.sm="100"
      fxFlex.xs="100"
      [counter]="4"
      [label]="'Infetados'"
      [color]="'purple'"
      [icon]="'assets/img/illustrations/dashboard/disease.svg'"
    ></app-card>

</div>
