.location-status {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 8px 0;
}

app-card .card,
app-card .card-lg {
  display: flex;
  flex-direction: row;
  padding: 10px;
  height: 226px;
  flex-grow: 1;
}
