.change-state-step3-container {
  width: 90%;
  height: auto;
  text-align: center;
  margin: 0 auto;
}

.page-title {
  text-align: left;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.6125rem;
}

.step-description {
  padding: 1.875rem 0 2.5rem 0;

  .step-description-text {
    color: #798794;
    font-size: 18px;
    font-weight: 500;
  }

  .step-question-text {
    color: #000000;
    font-size: 1.3rem;
    font-weight: bold;
  }
}

.step-counter {
  max-width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  .card {
    flex-basis: calc(50% - 1.5rem);
    margin-bottom: 1.75rem;
  }
}

.confirm-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 768px) {
  .page-title {
    display: none;
  }

  .step-description {
    padding: 1rem 0;

    .step-description-text {
      font-size: 0.875rem;
    }

    .step-question-text {
      font-size: 1.125rem;
    }
  }

  .cards {
    flex-direction: column;
    padding: 0 1rem;
  }

  .confirm-container {
    position: fixed;
    bottom: 0;
    left: 1.25vw;
    width: calc(97.5vw - 1rem);
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
  }
}
