<div class="card-container"> 
    <div class="card-body" fxLayout="row" fxFlex="grow">
        <div class='radio-btn'>
            <label>
                <input class='quiz-radio' name="{{ input_name }}" type="radio"/>
                <img src="assets/img/icons/radio-unchecked.svg" />
            </label>
        </div>
        
        <div class="state-description">
            <div class="state-title">
                <span>{{ state }}</span>
            </div>
        </div>
    </div>
</div>
