<div class="profile" (click)="updatePostCode()">
  <button class="button button-primary" (click)="subscribeToNotifications()" [disabled]="sub">
    Subscribe
  </button>

  <ng-container *ngIf="user; else loading">
    <img class="profile_picture" src="assets/img/avatar.svg" />

    <div class="profile_details">
      <span>{{ user.info?.name }}</span>
      <a class="link settings_link" href="">Ver definições</a>
    </div>
  </ng-container>

  <ng-template #loading>
    <i class="fa fa-circle-o-notch fa-spin"></i>
  </ng-template>
  <!-- <img class="profile_dgs_logo" src="assets/img/logo/covidografia.svg" />
  <img src="assets/img/share.svg" /> -->
</div>
