<div class="header">
    <img src="assets/img/dgs.png">
  </div>
<div class="profile">
<div class="profile_header">
    <app-profile></app-profile>
</div>
<!-- <div class="profile_definitions">
    <div style="justify-content: end;margin-right: auto;"><span>Ver Deﬁnições</span></div>
</div> -->
</div>
<app-status-btn routerLink="/change-state"></app-status-btn>
<div fxLayout="row no-wrap" fxLayoutGap="10px" fxLayoutAlign="center center" >
    <app-card fxFlex="95"></app-card>
    <app-card fxFlex="47" fxFlex.lt-sm="45"></app-card>
    <app-card fxFlex="47" fxFlex.lt-sm="45"></app-card>
    <app-card fxFlex="47" fxFlex.lt-sm="45"></app-card>
    <app-card fxFlex="47" fxFlex.lt-sm="45"></app-card>
</div>

