.dashboard_container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-page-container {
  padding: 0 16px;

  & .location-status {
    display: block;
    margin-top: 20px;
  }
}

.sidebar_container {
  display: flex;
  flex-direction: column;
}

.logo_container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 21px 0;

  .profile_dgs_logo {
    height: 32px;
    flex: 1;
  }
}

.profile_status_container {
  display: flex;

  & app-profile-status {
    max-width: 49%;
    flex: 1 1 100%;
  }

  & app-profile-status:last-child {
    margin-left: 2%;
  }
}

.location-info-area {
  display: flex;
  align-items: center;
}

.profile-area {
  font-size: 16px;
  font-weight: bold;
  line-height: 17px;
}

.marker-icon {
  padding-left: 16px;
}

.postal-code {
  color: #3f3d56;
  padding-left: 5px;
  font-size: 15px;
}

.reports-info {
  font-size: 15px;
  color: #979797;
}
app-card {
  margin-left: 10px;
}
/*
  ##Device = Desktops / Ipads
  ##Screen = 750px to higher resolution desktops
*/
@media (min-width: 768px) {
  .dashboard_container {
    display: flex;
    flex-direction: row;
  }

  .profile_status_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & app-profile-status {
      max-width: 100%;
      flex: 1 1 100%;
    }

    & app-profile-status:last-child {
      margin-left: 0;
    }
  }

  .sidebar_container {
    padding: 20px 46px;
    background-color: #f9f9f9;
    width: 360px;
    min-width: 360px;
  }

  .logo_container {
    padding: 18px 21px;
  }

  .main-page-container {
    width: 100%;
    padding: 46px 46px 26px;
  }

  app-status-btn {
    margin-top: auto;
  }

  .logout_link {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .dashboard_container {
    .sidebar_container {
      width: 230px;
      min-width: 230px;
    }
  }
}

@media (min-width: 1024px) {
  .profile-area {
    font-size: 24px;
  }

  .location-info-area {
    justify-content: start;
  }
}
