.profile_status {
	background-color: #F9F9F9;
	padding: 14px;
	font-size: 13px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.profile_status_indicator {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #5BEE73;
	margin-right: 6px;
}
