<div class="h-100" fxLayout="row" fxLayoutAlign="center">
  <div class="h-100" fxFlex="100">
    <div class="h-100 wrapper" fxLayout="column">
      <div class="header">
        <div class="logo">
          <img class="logo-background" src="assets/img/illustrations/login/background.svg" />
        </div>
      </div>

      <div class="action" fxLayout="row">
        <div class="action-content text-center">
          <h3>Página não encontrada</h3>
          <a routerLink="/">voltar à home</a>
        </div>
      </div>
    </div>
  </div>
</div>
